# source: https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.bcf
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
# kile
*.backup  
*.kilepr

old
sandbox
CV_anno.pdf

CV.fdb_latexmk
CV.fls
.kile/curriculumvitae.kilepr.gui
